{% load static %}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Sommerhuset – Finale</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="finale-bg">

<div class="finale-container">
    <h2>🏡 Velkommen til Sommerhuset</h2>

    <p>Skoven er stille. Surdejen hviler. Brætspillene er stablet og klar.  
    Dine løbesko lufter ude på terrassen.</p>

    <p>Du har klaret alle udfordringerne – og her er dit sidste clue:</p>

    <hr>

    <h3 class="finale-highlight">❤️ Mie, jeg elsker hver dag sammen med dig og er så glad for dig.</h3>
    <p>Jeg håber, du har nydt dette lille escape room.  
    Hver gåde var et lille stykke af vores liv sammen.</p>

    <p>
    Om vi er i skoven, bager, løber(mest dig), eller bare spiller brætspil,  
    så elsker jeg at gøre det hele med dig.
    </p>

    <p>
    Og nu har du låst op for den sidste overraskelse...
    </p>


    <!-- Eller slut af med et clue -->
    <p><em><b>Kig bag vasketøjskurvene.</b></em></p>

    <hr>

    <p>Elsker dig ❤️</p>
    <p>– Janus</p>
</div>

</body>
</html>
