{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Summerhouse</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            margin: 0;
            background-image: url("{% static 'images/sommerhus.jpg' %}");
            background-size: cover;
            background-position: center;
            height: 100vh;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div id="mushroom" class="button" onclick="location.href='{% url 'mushroom_puzzle' %}'">🌲 Forest</div>
    <div id="sourdough" class="button" onclick="location.href='{% url 'sourdough_puzzle' %}'">🥖 Kitchen</div>
    <div id="boardgame" class="button" onclick="location.href='{% url 'boardgame_puzzle' %}'">🎲 Game Room</div>
    <div id="running" class="button" onclick="location.href='{% url 'berlin_half_puzzle' %}'">🏃‍♀️ Track</div>

    <div id="final-code">
        <form method="post">
            {% csrf_token %}
            <label for="code">Enter final code:</label>
            <input type="text" name="code" placeholder="XXXX" required>
            <button type="submit">Unlock</button>
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
